@model List<proba.Models.Accounts.AbstractAccount>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Account number</th>
            <th scope="col">Owner name</th>
            <th scope="col">Balance</th>
            <th scope="col">Currency</th>
            <th scope="col">Has Credit line</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AccountNumber
                </td>
                <td>
                    @item.OwnerName
                </td>
                <td>
                    @item.Balance
                </td>
                <td>
                    @item.Currency.Name
                </td>
                <td>
                    @item.ExistCreditLine
                </td>
                <td>
                    <button onClick="incrementBalance('@item.AccountNumber')">Befizetes</button>
                    <button onClick="decrementBalance('@item.AccountNumber')">Utalas</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/editAccount")
@Html.Partial("~/Views/_partial/inpaymentmodal.cshtml")
@Html.Partial("~/Views/_partial/paytransfermodal.cshtml")
